
@{
    ViewBag.Title = "CaseList";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/PageCSS/ListCSS.css" rel="stylesheet" />
<style>
    .aa {
        background-color: #59AAFC;
        color: #ffffff;
    }
     .tab_hd td a {
        color: black;
        text-decoration: none;
    }

        .tab_hd td a:hover {
            color: #3398FF;
        }

    #HotActive a {
        color: #666666;
        text-decoration:none;
    }

        #HotActive a:hover {
            color: #3398FF;
        }
        #country div:hover{
            background-color:#59AAFC;
            color:white;
        }
         #education div:hover{
            background-color:#59AAFC;
            color:white;
        }

</style>
<div style="width:1100px;margin:0 auto;height:auto;">
    <div style="width:100%;height:50px;line-height:50px;">
        <div style="width:730px;height:50px;line-height:50px;border-bottom:3px solid #5E9FF3;">当前位置：首页>案例><span id="countryname"></span>留学><span id="educationname"></span></div>
    </div>
    <div style="width:100%;">
        <div style="width:730px;float:left;height:1000px;">
            <div style="width:728px;height:50px;line-height:50px;margin-top:0px;font-size:16px;border:1px solid lightgray;">
                <div style="cursor:pointer;float:left;width:100px;font-weight:600;padding-left:10px;">国家/地区：</div>
                <div  id="country">

                </div>
              
            </div>
            <div style="width:728px;height:50px;line-height:50px;margin-top:0.1px;font-size:16px;border:1px solid lightgray;">
                <div style="cursor:pointer;float:left;width:110px;text-align:center;font-weight:600;margin:0 auto;">学历：</div>
                <div id="education" style="float:left;">
                </div>
                <div  id="kaoshijieshao"><a href="http://www17.53kf.com/webCompany.php?arg=10117268&style=1&language=cn&charset=gbk&kflist=off&kf=leyu@jiajiedu.cn,37369991@qq.com&zdkf_type=1&referer=http%3A%2F%2Fwww.jiajiedu.cn%2F&keyword=https%3A%2F%2Fwww.sogou.com%2Flink%3Furl%3DDSOYnZeCC_rUQfLnmBwrcz4IRDdG1RpI&tfrom=1&tpl=crystal_blue&uid=f9e56b536d422fabc50d292f73790623&timeStamp=1512366256219&ucust_id=" style="display:block;width:100%;height:30px;text-align:center;line-height:30px;text-decoration:none;color:#3298FD;">免费咨询</a></div>
                <div  id="kaoshijieshao"><a href="http://www17.53kf.com/webCompany.php?arg=10117268&style=1&language=cn&charset=gbk&kflist=off&kf=leyu@jiajiedu.cn,37369991@qq.com&zdkf_type=1&referer=http%3A%2F%2Fwww.jiajiedu.cn%2F&keyword=https%3A%2F%2Fwww.sogou.com%2Flink%3Furl%3DDSOYnZeCC_rUQfLnmBwrcz4IRDdG1RpI&tfrom=1&tpl=crystal_blue&uid=f9e56b536d422fabc50d292f73790623&timeStamp=1512366256219&ucust_id=" style="display:block;width:100%;height:30px;text-align:center;line-height:30px;text-decoration:none;color:#3298FD;">留学评估</a></div>

            </div>
            <div id="con"></div>
            <div class="FenYe" style="height:80px;"></div>
        </div>

        <div style="width:340px;float:right;height:1000px;">
             
                @foreach (var image in ViewBag.indexzixun)
                {
                    <div style="width:100%;height:200px;background:url('@image.InformationImgUrl') center no-repeat;background-size: 100% 100%;"></div>

                }
        @*<div class="fud">
                <h1 style="text-align:center;line-height:50px; color:#ffffff;opacity:1.8;" id="countrysre"></h1>
            <p style="text-align:center; margin-top:-15px; color:#ffffff;font-size:20px;font-weight:600;">签证资料准备要点...</p>
            </div>*@

    



            <div style="width:100%;height:240px;margin-top:20px;">
                <div id="HotTitle">热门活动</div>
                <div>
                    <ul id="HotActive">
                        @{
                            foreach (var item in ViewBag.activelist as List<JiaJiNewWebModel.Active>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/Active/@item.ActiveID">· @item.ActiveTitle</a></li>

                            }
                        }
                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:20px;">
                <div id="HotTitle">嘉际观点</div>
                <div>
                    <ul id="HotActive">
                        @{
                            foreach (var item in ViewBag.optionlist as List<JiaJiNewWebModel.Option>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/OptionShow/@item.OptionID">· @item.OptionTitle</a></li>
                            }

                        }
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    var countryid = 1;
    var educationid = 1;
    var allrowcount = "";
    var pageindex = 1;
    
    $(function () {
        GetCountry();
        GetEducation();
        GetAnLi(1);
        Rowcount();
        LoadFud(countryid)
        
    })
    //获取国家
    function GetCountry()
    {
        $.ajax({
            type: "get",
            url: "/CaseList/GetCountry",
            dataType: "json",
            success: function (data) {
                $("#country").empty();
                var a = "";
                for (var i = 0; i < data.length; i++) {
                    a += '<div id="a'+data[i].CountryID+'" style="cursor:pointer;float:left;width:100px;text-align:center;" onclick="count1('+data[i].CountryID+')">'+data[i].CountryName+'留学</div>';
                }
                $("#country").append(a);
                $("#a" + countryid).addClass("aa");
            }
        })
    }
    //获取学历
    function GetEducation()
    {
        $.ajax({
            type: "get",
            url: "/CaseList/GetEducationType",
            dataType: "json",
            success: function (data) {
                $("#education").empty();
                var b = "";
                for (var i = 0; i < data.length; i++) {
                    b += '<div id="b' + data[i].EducationID + '" style="cursor:pointer;float:left;width:100px;text-align:center;" onclick="count2(' + data[i].EducationID + ')">' + data[i].EducationName + '</div>';
                }
                $("#education").append(b);
                $("#b" + educationid).addClass("aa");
            }
        })
    }
    function count1(id)
    {
        countryid = id;
        LoadFud(countryid)
        
        $("#country div").removeClass("aa");
        $("#a" + countryid).addClass("aa");
        GetAnLi(pageindex);
        Rowcount();
    }

    function LoadFud(id) {
        
        var TGlv = "";
        

        switch (id) {
            case 1:
                
                TGlv = "办理美国留学";
               
                break;
            case 2:
               
                TGlv = "办理加拿大留学";
                break;

            case 3:
                
                TGlv = "办理英国留学";
                break;

            case 4:
               
                TGlv = "办理澳洲留学";
                break;
            default:
                 
                TGlv = "办理其他国家留学";
        }
        $("#countrysre").text(TGlv);
        
    }
    function count2(id)
    {
        educationid = id;
        $("#education div").removeClass("aa");
        $("#b" + educationid).addClass("aa");
        GetAnLi(pageindex);
        Rowcount();
    }
    //获取成功案例
    function GetAnLi(id)
    {
        var cname = $("#a" + countryid).text();
        var ename = $("#b" + educationid).text();
        $("#countryname").val('' + cname + '');
        $("#educationname").val('' + ename + '');
        $.ajax({
            type: "get",
            url: "/CaseList/GetAnLi",
            data: {
                "countryid": countryid,
                "educationid": educationid,
                "pageindex": id
            },
            async:false,
            dataType:"json",
            success: function (data) {
                
                $("#con").empty();
                var aa = "";
                for (var i = 0; i < data.length; i++) {
                    aa += '<div style="width:100%;height:140px;margin-top:20px;padding-bottom:15px;border-bottom:1px dashed #dadada;">'+
                        '<div style= "width:150px;height:100%;background-image:url(\'' + data[i].CollegeImg + '\');background-size:100% 100%;float:left;border:1px solid lightgray;" ></div >' +
                            '<div style="float:right; width:550px;height:100%;font-size:16px;">'+
                                '<div style="width:100%;height:45px;line-height:45px;font-size:20px;font-weight:600;">'+data[i].SuccessTitle+'</div>'+
                                '<div style="width:100%;height:35px;line-height:35px;">'+
                                    '<span>学生：'+data[i].StudentName+'</span>'+
                                    '<span style="margin-left:20px;">成绩：'+data[i].Score+'</span>'+
                                '</div>'+
                                '<div style="width:100%;height:35px;line-height:35px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;">'+
                                    '录取学校：'+data[i].CollegeName+''+
                    '</div>'+
                                '<div style="width:100px;height:25px;float:right;">'+
                                    '<a href="/Content/Success/' + data[i].SRelationID + '" style="list-style:none;color:#3298FD;display:block;width:100px;height:30px;line-height:30px;text-align:center;text-decoration:none;" >查看详情>></a>' +
                                '</div>'+
                            '</div>'+
                            '</div >';
                }
                $("#con").append(aa);
            }
        })
    }
    function Rowcount()
    {
        $.ajax({
            type: "get",
            url: "/CaseList/GerRowCounts",
            data: {
                "countryid": countryid,
                "educationid": educationid
            },
            async: false,
            success: function (data) {
                allrowcount = data;
                var strin = "";
                $(".FenYe").empty();
                if (data == 0) {
                    return;
                }
               
                strin += '<span style="width:60px;" onclick="last()">上一页</span>';
                for (var i = 1; i <= Number(data); i++) {
                    if (pageindex == i) {
                        strin += '<span style="color:red;" onclick="on(' + i + ')">' + i + '</span >';
                    }
                    else {
                        strin += '<span onclick="on(' + i + ')">' + i + '</span >';
                    }
                }
                strin += '<span style="width:60px;" onclick="next()">下一页</span>';
                $(".FenYe").append(strin);
            }
        })
    }
    function on(id) {  
        GetAnLi(id);
        Rowcount();
    }
    function last() {
        
        if (Number(pageindex) > 1) {
            pageindex = Number(pageindex) - 1;
            GetAnLi(pageindex);
            Rowcount();
        }
        else {
            alert("当前已经是第一页了");
        }
    }
    function next() {
        
        if (Number(pageindex) < Number(allrowcount)) {
            pageindex = Number(pageindex) + 1;
            GetAnLi(pageindex)
            Rowcount();
        }
        else {
            alert("当前已经是最后一页了");
        }
    }
</script>


