body {
}

    .FenYe span {
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        text-align: center;
        cursor: pointer;
        color: #666666;
    }
        .tab_hd tr td {
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        color: #666666;
    }
    .FenYe{
         width:520px;height:auto;line-height:40px;margin:0 auto;margin-top:40px;text-align:center;
    }

    #kaoshijieshao{
        width:80px;height:30px;border:1px solid #3298FD;float:right;margin:8px;border-radius:5px;
    }
    #HotTitle{
        font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:20px;font-weight:600;
    }
    #HotActive{
        width:300px;margin:0px;padding:0px;line-height:30px;margin-top:10px;
    }

    .fud {
        width: 270px;
        height: 110px;
        margin-left:10%;
        background-image:url(/image/index/背景边框.png);
        opacity: 0.6;
        position:relative;
        top:50px;
    }
     .FenYe span{
        padding:0 10px;border:1px solid #dadada;color:#666666;margin:0 5px;
    }
    .FenYe span:hover{
        border:1px solid #3398FF; color:#3398FF;
    }
 
   