
@{
    ViewBag.Title = "AddSuccessinfo";
    Layout = "../study/layout.cshtml";
}


<table id="grid" style="width: 1024px" title="用户操作" iconcls="icon-view"></table>

<script type="text/javascript">


    $(function () {
        var columns = [{ field: 'SRelationID', checkbox: true, isTableBody: 1, isFormBody: 1, type: "hidden" },   //选择
        { title: '录取学生姓名', field: 'StudentID', width: 100, isTableBody: 2, formatter: function (val) { return this.data[val]; }, isFormBody: 2, type: "select", url: "/SuccessInfo/Stushow", valueField: "StudentID", textField: "StudentName" },
         //{ title: '团队名称', field: 'TeamID', width: 100, isTableBody: 3, formatter: function (val) { return this.data[val]; }, isFormBody: 3, type: "select", url: "/Team/Teamshow", valueField: "TeamID", textField: "Name" },
        { title: '成功案例标题', field: 'SuccessTitle', width: 150, isTableBody: 3, isFormBody: 3, type: "text", validType: ["required", "length[2,10]"] },

        { title: '成功案例内容', field: 'SuccessContent', width: 500, isTableBody: 4, formatter: function (val) { if ($("<div>" + val + "</div>").text().length > 22) return $("<div>" + val + "</div>").text().substr(0, 22) + "..."; else return $("<div>" + val + "</div>").text(); }, isFormBody: 4, type: "ue" },
        //{ title: '录取时间', field: 'SuccessDate', width: 150, isTableBody: 4, isFormBody: 4, type: "datetime" },

        ];
        $("#grid").InitGrid("/Admin/SuccessInfo/AddSuccessinfo", "成功案例", columns);
    })

    function ShowAddDialog() {
        alert();
    }
</script>




