
@{
    ViewBag.Title = "CountryGuiHua";
    Layout = "../study/layout.cshtml";
}

<table id="grid" style="width: 1024px" title="用户操作" iconcls="icon-view"></table>

<script type="text/javascript">


    $(function () {

        var columns = [{ field: 'TypeID', checkbox: true, isTableBody: 1, isFormBody: 1, type: "hidden" },   //选择
        { title: '规划名称', field: 'TypeName', width: 200, isTableBody: 2, isFormBody: 2, type: "text", validType: ["required", "length[2,8]"] },
        ];
        $("#grid").InitGrid("/Admin/StudyNew/CountryGuiHua", "留学规划管理", columns);
    })

    function ShowAddDialog() {
        alert();
    }
</script>

