
@{
    ViewBag.Title = "Content";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/PageCSS/ContentCss.css" rel="stylesheet" />
<style>
      .HotActive a {
        color: #666666;
        text-decoration:none;
    }

        .HotActive a:hover {
            color: #3398FF;
        }
          #keyword a{
            text-decoration:none;
            color: #3398FF;
        }
         #keyword a:hover{
            text-decoration:underline;
        }
          #liuxueKeyWord a{
            text-decoration:none;
            color:#666666;
            padding:0 10px;border:1px solid #666666;padding:5px;border-radius:5px;margin:8px;
        }
            #liuxueKeyWord a:hover {
                color:#3398FF;
                border:1px solid #3398FF;
            }
</style>
<div style="width:1100px;margin:0 auto;height:auto;margin-top:10px;">
    <div style="width:100%;height:50px;line-height:50px;">
        <div style="width:730px;height:50px;line-height:50px;border-bottom:3px solid #5E9FF3;">当前位置：<a style="text-decoration:none;color:black;" href="/Home/Index">首页</a>>文章标题</div>
    </div>
    <div style="width:100%;">
        <div style="width:730px;float:left;height:auto;">
            <div style="width:100%;height:auto;margin-top:10px;">
                <div style="width:730px;height:auto;overflow:hidden;" id="frameContent">
                    <h3 id="title"></h3>
                    <p style="border-bottom:1px dashed #dadada;padding-top:0px;line-height:40px;margin-bottom:20px;"><label id="Source"></label>&nbsp;&nbsp;&nbsp;<label id="Author">&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;<label id="UpDate">&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;<label id="ReadCount"></label></p>
                    <div id="Content" >

                    </div>
                    <div id="keyword">
                        <span>关键字：</span>
                    </div>
                </div>
            </div>
            <div style="width:100%;height:auto;line-height:40px;margin:0 auto;margin-top:30px;border-top:1px solid #dadada;">
                <table class="prvenext" style="width:100%;margin:0 auto;" align="center">
                    <tr>
                        <td align="center" style="width:50%;"><div class="Prve"></div></td>
                        <td align="center" style="width:50%;"><div class="Next"></div></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><a id="List" href="/InfoList/InfoList">查看列表页</a></td>
                    </tr>
                </table>
            </div>

            <div id="pages"></div>

        </div>
        <div style="width:340px;float:right;height:auto;">
            <div id="hotimage" style="width:100%;height:200px;background-size:100% 100%;"></div>        
            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">热门活动</div>
                <div>
                    <ul class="HotActive" >
                        @{
                            foreach (var item in ViewBag.activelist as List<JiaJiNewWebModel.Active>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/Active/@item.ActiveID">· @item.ActiveTitle</a></li>

                            }
                        }
                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">嘉际观点</div>
                <div>
                    <ul class="HotActive">
                        @{
                            foreach (var item in ViewBag.optionlist as List<JiaJiNewWebModel.Option>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/OptionShow/@item.OptionID">· @item.OptionTitle</a></li>
                            }

                        }
                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:30px;" id="hotkeyword">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">留学关键词</div>
                <div id="liuxueKeyWord" style="margin-top:20px;"></div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $(".FenYe span").mouseover(function () {
            $(this).css({ "background-color": "#609EF3", "color": "#FFFFFF" });
            $(this).siblings().css({ "background-color": "#FFFFFF", "color": "#666666" });
        })
        $(".FenYe span").mouseout(function () {
            $(".FenYe span").css({ "background-color": "#FFFFFF", "color": "#666666" });
        })

        var divContent = $("#frameContent").html();
        $(".FenYe span").click(function () {
            var txt = $(this).html();
            alert(divContent.length);
            if (txt == "1") {
                $("#frameContent").html(divContent.substr(0, 1500));
            }
            else if (txt == "2") {
                $("#frameContent").html(divContent.substr(1500, 1500));
            }
            else if (txt == "3") {
                $("#frameContent").html(divContent.substr(3000, 1500));
            }
            if (txt == "4") {
                $("#frameContent").html(divContent.substr(4500, 1500));
            }
            else if (txt == "5") {
                $("#frameContent").html(divContent.substr(6000, 1500));
            }
            else if (txt == "6") {
                $("#frameContent").html(divContent.substr(7500, 1500));
            }
        });
        $(function () {
            var index = location.href.lastIndexOf('/') + 1;
            var href = location.href;

            $.ajax({
                type: "post",
                url: "/Content/ContentShow",
                dataType: "json",
                data: { Id: href.substr(index) },
                async: false,
                success: function (data) {

                    $("#title").text(data.Title);
                    $("#Source").text("来源:" + data.Source + " ");
                    $("#Author").text("作者:" + data.Author + "");
                    $("#UpDate").text("时间：" + data.InfoDate + "");
                    $("#ReadCount").text("阅读量:" + data.ReadCount + "");
                    $("#hotimage").css("background-image", "url('" + data.InformationImgUrl + "')");
                    if (data.InfoKeyWord.length <= 0)
                    {
                        $("#keyword").css("display", "none");
                        $("#hotkeyword").css("display", "none");
                    }

                    if (data.InfoKeyWord.length>1)
                    {
                        var InfoKeyWord = data.InfoKeyWord.split('/');
                        for (var i = 0; i < InfoKeyWord.length; i++) {
                            $("#keyword").append("<a href='/Home/SouSuo?selName=" + InfoKeyWord[i] + "' style='padding:0 10px;'>" + InfoKeyWord[i] + "</a>");
                            $("#liuxueKeyWord").append("<a href='/Home/SouSuo?selName=" + InfoKeyWord[i] + "' '>" + InfoKeyWord[i] + "</a>");
                        }
                    }
                    else {
                        $("#keyword").append("<a href='/Home/SouSuo?selName=" + data.InfoKeyWord + "' style='padding:0 10px;'>" + data.InfoKeyWord + "</a>");
                        $("#liuxueKeyWord").append("<a href='/Home/SouSuo?selName=" + data.InfoKeyWord + "' '>" + data.InfoKeyWord + "</a>");
                    }
                   
                    $("#Content").html(data.content);
                }
            });
            HotActive();

        })
        function HotActive() {
            //$.ajax({
            //    type: "json",
            //    url: "/Content/HotActive",
            //    dataType: "json",
            //    async:false,
            //    success: function (data) {
            //        $("#HotActive").empty();
            //        for (var i = 0; i < data.length; i++) {
            //            $("#HotActive").append("<li style='overflow: hidden;white - space:nowrap; text - overflow:ellipsis;'><a href=''>" + data[i].ActiveTitle + "</a></li>");
            //        }
            //    }
            //});
            Prve();
        }
    })



    function Prve() {
        $.ajax({
            type: "post",
            url: "/Content/inforPrve",
            async: false,
            dataType: "json",
            success: function (data) {
                $(".Prve").empty();
                if (data.Title == "已是第一章了") {

                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a href='javascript:void(0);' title='" + data.Title + "'>" + data.Title + "</a></span></p>");
                } else {
                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a title='" + data.Title + "' href='/Content/Content/" + data.InformationID + "'>" + data.Title + "</a></span></p>");
                }
                Next();
            }
        })

    };
    function Next() {
        $.ajax({
            type: "post",
            url: "/Content/inforNext",
            dataType: "json",
            async: false,
            success: function (data) {
                $(".Next").empty();
                if (data.Title == "已经是最后一章了") {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.Title + "'  href='javascript:void(0);'>" + data.Title + "</a></span></p>");
                } else {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.Title + "' href='/Content/Content/" + data.InformationID + "'>" + data.Title + "</a></span></p>");
                }
            }
        })
    }

</script>
