
@{
    ViewBag.Title = "Content";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/PageCSS/ContentCss.css" rel="stylesheet" />
<style>
    #HotActive a {
        color: #666666;
        text-decoration: none;
    }

        #HotActive a:hover {
            color: #3398FF;
        }
         #keyword a{
            text-decoration:none;
            color: #3398FF;
        }
         #keyword a:hover{
            text-decoration:underline;
        }
</style>

<div style="width:1100px;margin:0 auto;height:auto;margin-top:10px;">
    <div style="width:100%;height:50px;line-height:50px;">
        <div style="width:730px;height:50px;line-height:50px;border-bottom:3px solid #5E9FF3;">当前位置：<a style="text-decoration:none;color:black;" href="/Home/Index">首页</a>>嘉际观点</div>
    </div>
    <div style="width:100%;">
        <div style="width:730px;float:left;height:auto;">
            <div style="width:100%;height:auto;margin-top:10px;">
                <div style="width:730px;height:auto;overflow:hidden;" id="frameContent">
                    <h3 id="title"></h3>
                    <p><label id="Author">&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;<label id="Source"></label>&nbsp;&nbsp;&nbsp;<label id="ReadCount">&nbsp;&nbsp;&nbsp;</label></p>
                    <div id="Content" style="border-top:1px dashed #dadada;padding-top:20px;line-height:32px;">

                    </div>

                    <div id="keyword" style="margin-top:10px;">
                        <span>关键字：</span>
                    </div>

                </div>
            </div>

            <div style="width:730px;height:auto;line-height:40px;margin:0 auto;margin-top:30px;border-top:1px solid #dadada;">
                <table class="prvenext" style="width:100%;margin:0 auto;" align="center">
                    <tr>
                        <td align="center" style="width:50%;"><div class="Prve"></div></td>
                        <td align="center" style="width:50%;"><div class="Next"></div></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><a id="List" href="/Content/GetOptionList">查看列表页</a></td>
                    </tr>
                </table>
            </div>

            <div id="pages"></div>

        </div>
        <div style="width:340px;float:right;height:900px;">
            <div id="hotimage" style="width:100%;height:200px;"></div>
            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:20px;margin-left:8px;font-weight:600;">热门活动</div>
                <div>
                    <ul class="HotActive">
                        @{
                            foreach (var item in ViewBag.activelist as List<JiaJiNewWebModel.Active>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/Active/@item.ActiveID">·@item.ActiveTitle</a></li>

                            }
                        }
                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:20px;margin-left:8px;font-weight:600;">嘉际观点</div>
                <div>
                    <ul class="HotActive">
                        @{
                            foreach (var item in ViewBag.optionlist as List<JiaJiNewWebModel.Option>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/OptionShow/@item.OptionID">·@item.OptionTitle</a></li>
                            }

                        }

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(function () {
        var index = location.href.lastIndexOf('/') + 1;
        var href = location.href;
        $.ajax({
            type: "post",
            url: "/Content/Option",
            data: { Id: href.substr(index) },
            dataType: "Json",
            success: function (data) {
                $("#title").text(data.OptionTitle);
                $("#Author").text("作者:" + data.Author + data.Date);
                $("#ReadCount").text("阅读量:" + data.OptionHot + "   ");
                $("#Source").text("来源：" + data.Source)
                $("#Content").html(data.OptionContent);
                $("#hotimage").css("background-image", "url('" + data.OptionUrl + "')");
                if (data.OptionKeyWord.length == 0) {
                    $("#keyword").css("display", "none");
                }

                if (data.OptionKeyWord.length > 1) {
                    var OptionKeyWord = data.OptionKeyWord.split('/');
                    for (var i = 0; i < OptionKeyWord.length; i++) {
                        $("#keyword").append("<a href='/Home/SouSuo?selName=" + OptionKeyWord[i] + "' style='padding:0 10px;'>" + OptionKeyWord[i] + "</a>");
                    }
                }
                else {
                    $("#keyword").append("<a href='/Home/SouSuo?selName=" + data.OptionKeyWord + "' style='padding:0 10px;'>" + data.OptionKeyWord + "</a>");

                }



            }
        })
        Prve();
    })

    function Prve() {
        $.ajax({
            type: "post",
            url: "/Content/OptionPrve",
            async: false,
            dataType: "json",
            success: function (data) {
                $(".Prve").empty();
                if (data.OptionTitle == "已是第一章了") {
                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a  href='javascript:void(0);' title='" + data.OptionTitle + "'>" + data.OptionTitle + "</a></span></p>");
                } else {
                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a title='" + data.OptionTitle + "' href='/Content/OptionShow/" + data.OptionID + "'>" + data.OptionTitle + "</a></span></p>");
                }
                Next();
            }
        })

    };
    function Next() {
        $.ajax({
            type: "post",
            url: "/Content/OptionNext",
            dataType: "json",
            async: false,
            success: function (data) {
                $(".Next").empty();
                if (data.OptionTitle == "已经是最后一章了") {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.OptionTitle + "' href='javascript:void(0);'>" + data.OptionTitle + "</a></span></p>");
                } else {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.OptionTitle + "' href='/Content/OptionShow/" + data.OptionID + "'>" + data.OptionTitle + "</a></span></p>");
                }
            }
        })
    }

</script>

