
@{
    ViewBag.Title = "ShareShow";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/PageCSS/ContentCss.css" rel="stylesheet" />

<style>
    #HotActive a {
        color: #666666;
        text-decoration: none;
    }

        #HotActive a:hover {
            color: #3398FF;
        }
         #keyword a{
            text-decoration:none;
            color: #3398FF;
        }
         #keyword a:hover{
            text-decoration:underline;
        }
           #liuxueKeyWord a{
            text-decoration:none;
            color:#666666;
            padding:0 10px;border:1px solid #666666;padding:5px;border-radius:5px;margin:8px;
        }
            #liuxueKeyWord a:hover {
                color:#3398FF;
                border:1px solid #3398FF;
            }
</style>

<div style="width:1100px;margin:0 auto;height:auto;margin-top:10px;">
    <div style="width:100%;height:50px;line-height:50px;">
        <div style="width:730px;height:50px;line-height:50px;border-bottom:3px solid #5E9FF3;">当前位置：<a style="text-decoration:none;color:black;" href="\ShareList\ShareListIndex">学员分享</a> >分享详情></div>
    </div>
    <div style="width:100%;">
        <div style="width:730px;float:left;height:auto;">
        <div style="width:100%;height:auto;margin-top:10px;">
                <div style="height:auto;overflow:hidden;" id="frameContent">
                    <div style="float:left;height:auto;">
                        <h3 id="title"></h3>
                        <div><label id="Date"></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label id="shareproject">分享项目：</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label id="shareperson">分享人：</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label id="ReadCount"></label>
                    </div>
                    <div id="Content" style="border-top:1px dashed #dadada;margin-top:20px;line-height:32px;">
                    </div>

                        <div id="keyword">
                            <span>关键字：</span>
                        </div>
                </div>
            </div>

            <div style="width:100%;height:auto;line-height:40px;margin:0 auto;margin-bottom:15px;border-top:1px solid #dadada;margin-top:10px;">
                <table class="prvenext" style="width:100%;margin:0 auto;" align="center">
                    <tr>
                        <td align="center" style="width:50%;"><div class="Prve"></div></td>
                        <td align="center" style="width:50%;"><div class="Next"></div></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><a id="List" href="/ShareList/ShareListIndex">查看列表页</a></td>
                    </tr>
                </table>
            </div>

            <div id="pages"></div>

        </div>
        </div>

        <div style="width:340px;float:right;height:900px;">
            <div id="hotimage" style="width:100%;height:200px;background-size:100% 100%;"></div>
            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:20px;font-weight:600;">热门活动</div>
                <div>
                    <ul class="HotActive">
                        @{
                            foreach (var item in ViewBag.activelist as List<JiaJiNewWebModel.Active>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/Active/@item.ActiveID">· @item.ActiveTitle</a></li>

                            }
                        }

                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:20px;">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:20px;font-weight:600;">嘉际观点</div>
                <div>
                    <ul class="HotActive">
                        @{
                            foreach (var item in ViewBag.optionlist as List<JiaJiNewWebModel.Option>)
                            {
                                <li style="overflow: hidden;white-space:nowrap;text-overflow:ellipsis;"><a  href="/Content/OptionShow/@item.OptionID">· @item.OptionTitle</a></li>
                            }

                        }
                    </ul>
                </div>
            </div>

            <div style="width:100%;height:240px;margin-top:30px;" id="hotkeyword">
                <div style="font-size:20px;width:200px;height:30px;border-left:4px solid #5E9FF3;line-height:30px;padding-left:10px;font-weight:600;">留学关键词</div>
                <div id="liuxueKeyWord" style="margin-top:20px;"></div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        var index = location.href.lastIndexOf('/') + 1;
        var href = location.href;
        $.ajax({
            type: "POST",
            url: "/Content/Share",
            data: { Id: href.substr(index) },
            dataType: "JSON",
            async: false,
            success: function (data) {
                $("#title").html(data.ShareTitle);
                $("#Date").html("发表时间:" + data.ShareDate + "");
                $("#shareproject").html("分享项目:" + data.Pro_Name + "");
                $("#shareperson").html("分享人：" + data.LearnName + "");
                $("#ReadCount").html("阅读量：" + data.ShareReadCount + "");

                $("#hotimage").css("background-image","url('"+data.ShareImg+"')");

                $("#Content").append(data.ShareContent)

                if (data.ShareKeyword.length == 0) {
                    $("#keyword").css("display", "none");
                }

                if (data.ShareKeyword.length > 1) {
                    var ShareKeyword = data.ShareKeyword.split('/');
                    for (var i = 0; i < ShareKeyword.length; i++) {
                        $("#keyword").append("<a href='/Home/SouSuo?selName=" + ShareKeyword[i] + "' style='padding:0 10px;'>" + ShareKeyword[i] + "</a>");
                        $("#liuxueKeyWord").append("<a href='/Home/SouSuo?selName=" + ShareKeyword[i] + "' '>" + ShareKeyword[i] + "</a>");
                    }
                }
                else {
                    $("#keyword").append("<a href='/Home/SouSuo?selName=" + data.ShareKeyword + "' style='padding:0 10px;'>" + data.ShareKeyword + "</a>");
                    $("#liuxueKeyWord").append("<a href='/Home/SouSuo?selName=" + data.ShareKeyword + "' '>" + data.ShareKeyword + "</a>");

                }
            }
        })
        Prve();
    })
    function Prve() {
        $.ajax({
            type: "post",
            url: "/Content/SharePrve",
            async: false,
            dataType: "json",
            success: function (data) {
                $(".Prve").empty();
                if (data.ShareTitle= "已是第一章了") {

                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a title='" + data.ShareTitle + "' href='javascript:void(0);'>" + data.ShareTitle + "</a></span></p>");
                } else {
                    $(".Prve").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>上一章：<a title='" + data.ShareTitle + "' href='/Content/ShareShow/" + data.ShareID + "'>" + data.ShareTitle + "</a></span></p>");
                }
                Next();
            }
        })

    };
    function Next() {
        $.ajax({
            type: "post",
            url: "/Content/ShareNext",
            dataType: "json",
            async: false,
            success: function (data) {
                $(".Next").empty();
                if (data.ShareTitle == "已经是最后一章了") {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.ShareTitle + "' href='javascript:void(0);'>" + data.ShareTitle + "</a></span></p>");
                } else {
                    $(".Next").append("<p><span style='width: 300px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;'>下一章：<a title='" + data.ShareTitle + "' href='/Content/ShareShow/" + data.ShareID + "'>" + data.ShareTitle + "</a></span></p>");
                }
            }
        })
    }


</script>


